﻿






@model WebApp.Models.Category


 @*@Html.HiddenFor(model => model.Id)*@

 <!--输出form表单界面-->
 <table class="table table-bordered">
     <caption>
     </caption>
	    <tr>
      	   <td class="control-label">   @Html.DisplayNameFor(model => model.Id)  </td>
	   <td> 
						   			<input  disabled  id="@Html.IdFor(model => model.Id)" name="@Html.NameFor(model => model.Id)" tabindex="0" style="width:100%" class="easyui-numberbox" type="text" data-options="prompt:'Id',label:'Id:',required:true " />
			  
				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.Name)  </td>
	   <td> 
			
			  			<input id="@Html.IdFor(model => model.Name)" 
				   name="@Html.NameFor(model => model.Name)" 
				   value="@Html.ValueFor(model => model.Name)"
				   tabindex="1" 
				   style="width:100%" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'战略类型',
								 label:'战略类型:',
								 required:true ,validType:'length[0,50]'" />
			              
				   </td>
	   	   </tr>
	   	    <tr>
      	   <td class="control-label">   @Html.DisplayNameFor(model => model.Desc)  </td>
	   <td> 
			
			  			<input id="@Html.IdFor(model => model.Desc)" 
				   name="@Html.NameFor(model => model.Desc)" 
				   value="@Html.ValueFor(model => model.Desc)"
				   tabindex="2" 
				   style="width:100%" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'战略描述',
								 label:'战略描述:',
								 required:false ,validType:'length[0,255]'" />
			              
				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.CompanyId)  </td>
	   <td> 
			
			<input id="@Html.IdFor(model => model.CompanyId)"
			       name="@Html.NameFor(model => model.CompanyId)"
				   value="@Html.ValueFor(model => model.CompanyId)"
				   class="easyui-combobox" data-options="
						prompt:'企业' ,
						label:'企业:' ,
						required:true ,
						valueField: 'Id',
						textField: 'Name' ,
						url: '/Categories/GetCompanies' ,
						onSelect: function(item){
						//console.log(item);
				}">

				   </td>
	   	   </tr>
	   	        @*<tfoot>
        <tr>
           
        <tr>
    </tfoot>*@
</table>
  <!--输出form表单界面-->

<!--========================================================================================-->
  

 

