﻿






@model WebApp.Models.WorkItemType


 @*@Html.HiddenFor(model => model.Id)*@

 <!--输出form表单界面-->
 <table class="table table-bordered">
     <caption>
     </caption>
	    <tr>
      	   <td class="control-label">   @Html.DisplayNameFor(model => model.Id)  </td>
	   <td> 
						   			<input  disabled  id="@Html.IdFor(model => model.Id)" name="@Html.NameFor(model => model.Id)" tabindex="0" style="width:100%" class="easyui-numberbox" type="text" data-options="prompt:'Id',label:'Id:',required:true " />
			  
				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.Name)  </td>
	   <td> 
			
			  			<input id="@Html.IdFor(model => model.Name)" 
				   name="@Html.NameFor(model => model.Name)" 
				   value="@Html.ValueFor(model => model.Name)"
				   tabindex="1" 
				   style="width:100%" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'工作项类型',
								 label:'工作项类型:',
								 required:false " />
			              
				   </td>
	   	   </tr>
	   	        @*<tfoot>
        <tr>
           
        <tr>
    </tfoot>*@
</table>
  <!--输出form表单界面-->

<!--========================================================================================-->
  

 

