
@model WebApp.Models.Employee


<div class="ibox-content">
 <!--输出form表单界面-->
 <table class="table table-bordered">
     <caption>
     </caption>
     <tr>
     	  
  <td class="control-label">   @Html.DisplayNameFor(model => model.Id)  </td>
	   <td> 
			   											<input  disabled  id="@Html.IdFor(model => model.Id)" name="@Html.NameFor(model => model.Id)" tabindex="0" style="width:100%" class="easyui-numberbox" type="text" data-options="prompt:'Id',label:'Id:',required:true " />
								  
	  
  <td class="control-label">   @Html.DisplayNameFor(model => model.Name)  </td>
	   <td> 
			   
											<input id="@Html.IdFor(model => model.Name)" 
							name="@Html.NameFor(model => model.Name)" 
							value="@Html.ValueFor(model => model.Name)"
							tabindex="1" 
							style="width:100%" 
							class="easyui-textbox" 
							type="text" 
							data-options="prompt:'Name',
								 label:'Name:',
								 required:false ,validType:'length[0,50]'" />
					             
			 
     <tr>
     	  
  <td class="control-label">   @Html.DisplayNameFor(model => model.Sex)  </td>
	   <td> 
			   
											<input id="@Html.IdFor(model => model.Sex)" 
							name="@Html.NameFor(model => model.Sex)" 
							value="@Html.ValueFor(model => model.Sex)"
							tabindex="2" 
							style="width:100%" 
							class="easyui-textbox" 
							type="text" 
							data-options="prompt:'Sex',
								 label:'Sex:',
								 required:false " />
					             
			 
	  
  <td class="control-label">   @Html.DisplayNameFor(model => model.Age)  </td>
	   <td> 
			   
											<input id="@Html.IdFor(model => model.Age)"
							name="@Html.NameFor(model => model.Age)" 
							value="@Html.ValueFor(model => model.Age)"
							tabindex="3" 
							style="width:100%" 
							class="easyui-numberbox" 
							type="text" 
							 data-options="prompt:'Age',
								 label:'Age:',
								 required:true " />
					             
			 
     <tr>
     	  
  <td class="control-label">   @Html.DisplayNameFor(model => model.Brithday)  </td>
	   <td> 
			   
											<input id="@Html.IdFor(model => model.Brithday)" 
							name="@Html.NameFor(model => model.Brithday)" 
							tabindex="4" 
							style="width:100%" class="easyui-datebox" 
							type="text" 
							value="@Html.ValueFor(model => model.Brithday)"
							data-options="prompt:'Brithday',
								 label:'Brithday:',
								 required:true,
								 formatter:dateformatter" />
					             
			 
	  
  <td class="control-label">   @Html.DisplayNameFor(model => model.CompanyId)  </td>
	   <td> 
			   
			<input id="@Html.IdFor(model => model.CompanyId)"
			       name="@Html.NameFor(model => model.CompanyId)"
				   value="@Html.ValueFor(model => model.CompanyId)"
				   class="easyui-combobox" data-options="
						prompt:'CompanyId' ,
						label:'CompanyId:' ,
						required:true ,
						valueField: 'Id',
						textField: 'Name' ,
						url: '/Companies/GetCompanies' ,
						onSelect: function(item){
						//console.log(item);
				}">

				
	        @*<tfoot>
        <tr>
           
        <tr>
    </tfoot>*@
</table>
</div>


 